parameters:
    scanDirectories:
        - var/cache
    level: 8
    tmpDir: ./var/cache/phpstan
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/Infrastructure_KernelDevDebugContainer.xml
