COMPOSE_PROJECT_NAME=shorter

# xDebug
XDEBUG_ON=true
XDEBUG_MODE=debug
XDEBUG_IDEKEY=PHPSTORM
XDEBUG_PORT=9003
XDEBUG_TRIGGER=Docker

# MySQL
MYSQL_HOST_PORT=3307
MYSQL_DATABASE=shorter
MYSQL_USER=shorter
MYSQL_PASSWORD=shorter
MYSQL_ROOT_PASSWORD=root
